.carousel {
    overflow: scroll;
    padding-left: 30px;
    width: 100%;
    position: relative;
    &__container {
        transition: 450ms -webkit-transform;
        transition: 450ms transform, 450ms -webkit-transform;
        font-size: 1rem;
        white-space: nowrap;
        margin: 70px 0px;
        padding-bottom: 20px;
        &:hover {
            opacity: 0.3;
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            opacity: 1;

        }
    }

}